@import "variable";
@import "components/index";
@import "containers/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fc5095;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;

  &--closed {
    height: 0;
  }
  & .container-img {
    position: relative;
    height: 100%;
    background: url("../img/man_girl.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    &__image {
      width: 100%;
      display: flex;
      align-items: flex-end;

      &-menu {
        padding-left: 0;
        background: $color_white;
        opacity: 0.8;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        list-style: none;
        padding: 15px;
        & li {
          margin: 10px 5px;
          transition: 0.5s;
          &:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }

          & a {
            font-family: $font-family;
            color: $color_gray;
            text-decoration: none;
            transition: 0.5s;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              color: $color_pink;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  & .container-main {
    min-width: 300px;
    height: 100vh;
    background-color: var(--main-color);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    animation: animationPage 1s ease-out;
    @keyframes animationPage {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &-choice {
      width: 600px;
      background: $color_orange;
    }

    &-choice-sex {
      width: 600px;
      background: $color_yellow;
    }

    &-login {

      width: 600px;
      background: $color_blue;
    }

    &__img {
      position: absolute;
      top: 30%;
      left: -35px;
      & img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.hide {
  display: none !important;
}
.show {
  display: flex !important;
}

.isError {
  border: 1px solid $color_red;
}
